{{ define "body-class" }}template-archives{{ end }}
{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.projects }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}

    {{ range $filtered.GroupByDate "2006" }}
    {{ $id := lower (replace .Key " " "-") }}
    <div class="archives-group">
        <div class="article-list">
            {{ range .Pages }}
                {{ partial "article-list/default.html" . }}
            {{ end }}
        </div>
    </div>
    {{ end }}

    {{ partialCached "footer/footer" . }}
{{ end }}
